<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="app-figure navbar-brand ps-3" href="/"><span class="span1">Note</span><span class="span2">PLS</span></a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="" th:text="#{all_notes}">All Notes</a></li>
            <li class="nav-item"><a class="nav-link" href="" th:text="#{categories}">Categories</a></li>
            <li class="nav-item"><a class="nav-link" href="new" th:text="#{note.add}">Add note</a></li>
        </ul>
    </div>
</nav>