<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css"
        th:href="@{lib/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/base.css" th:href="@{css/base.css}">
    <title>NotePLS</title>
</head>
<body>

    <div class="root">
        <div th:replace="fragments/header.html :: nav"></div>

        <form id="note-form" class="h-100" method="post" action="">
            <!-- Toolbar -->
            <div class="row px-4 mt-2">
                <div class="col">
                    <button type="submit" class="btn btn-primary">
                        <i data-feather="save"></i>
                        <span th:text="#{save}">Save</span>
                    </button>
                    <div id="bold-btn" class="btn btn-light">
                        <i data-feather="bold"></i>
                    </div>
                    <div id="italic-btn" class="btn btn-light">
                        <i data-feather="italic"></i>
                    </div>
                    <div id="underline-btn" class="btn btn-light">
                        <i data-feather="underline"></i>
                    </div>
                    <div id="strikethrough-btn" class="btn btn-light">
                        <img th:src="@{svg\strikethrough.svg}">
                    </div>
                    <div id="list-btn" class="btn btn-light">
                        <i data-feather="list"></i>
                    </div>
                    <div id="link-btn" class="btn btn-light">
                        <i data-feather="link-2"></i>
                    </div>
                </div>
                <div id="preview-toolbar" class="col">
                    <button id="text-preview-btn" class="btn btn-light active" data-bs-toggle="button" aria-pressed="true">
                        <i data-feather="edit"></i>
                    </button>
                    <button id="view-preview-btn" class="btn btn-light active" data-bs-toggle="button" aria-pressed="true">
                        <i data-feather="image"></i>
                    </button>
                </div>
            </div>

            <!-- Editor and preview -->
            <div class="row h-100 preview-row px-4 mt-2">
                <div class="col-12 col-md" id="text-area-col">
                    <div class="form-group h-100">
                        <textarea class="form-control h-100" id="raw-note-area"></textarea>
                    </div>
                </div>
                <div class="col-12 col-md" id="preview-col">
                    <div class="card" id="note-preview-card">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                <div id="note-preview" class="h-100">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
        

    <script type="module" src="../static/lib/md-block/md-block.js" th:src="@{lib/md-block/md-block.js}"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{lib/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../../static/js/editor.js" th:src="@{js/editor.js}"></script>
    <script src="../../static/lib/feathericons/feather.min.js" th:src="@{lib/feathericons/feather.min.js}"></script>
</body>

</html>