<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css"
        th:href="@{lib/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/base.css" th:href="@{css/base.css}">
    <title>NotePLS</title>
</head>
<body>

    <div class="root">
        <div th:replace="fragments/header.html :: nav"></div>

        <form id="note-form" class="h-100" method="post" action="">
            <!-- Toolbar -->
            <div class="row px-4 mt-2">
                <div class="col-auto pe-0 d-none d-md-inline">
                    <button type="submit" class="btn btn-primary">
                        <i data-feather="save"></i>
                        <span th:text="#{save}">Save</span>
                    </button>
                    <div class="btn btn-info" style="width: fit-content;">
                        <i data-feather="more-vertical"></i>
                    </div>
                </div>
                <div id="edit-toolbar" class="col-8 col-md">
                    <div id="bold-btn" class="btn btn-light toolbar-btn">
                        <i data-feather="bold"></i>
                    </div>
                    <div id="italic-btn" class="btn btn-light toolbar-btn">
                        <i data-feather="italic"></i>
                    </div>
                    <div id="strikethrough-btn" class="btn btn-light toolbar-btn">
                        <img th:src="@{svg\strikethrough.svg}">
                    </div>
                    <div id="list-btn" class="btn btn-light toolbar-btn">
                        <i data-feather="list"></i>
                    </div>
                    <div id="link-btn" class="btn btn-light toolbar-btn">
                        <i data-feather="link-2"></i>
                    </div>
                </div>
                <div id="preview-toolbar" class="col-4 col-md">
                    <button id="text-preview-btn" class="btn btn-light toolbar-btn" data-bs-toggle="button" aria-pressed="true">
                        <i data-feather="edit"></i>
                    </button>
                    <button id="view-preview-btn" class="btn btn-light toolbar-btn" data-bs-toggle="button" aria-pressed="true">
                        <i data-feather="image"></i>
                    </button>
                    <button id="both-preview-btn" class="btn btn-light toolbar-btn active" data-bs-toggle="button" aria-pressed="true">
                        <i data-feather="columns"></i>
                    </button>
                </div>
            </div>

            <!-- Editor and preview -->
            <div class="row h-100 px-4 mt-2 preview-row">
                <div class="col-12 col-md" id="text-area-col">
                    <div class="form-group h-100">
                        <textarea class="form-control h-100" id="raw-note-area"></textarea>
                    </div>
                </div>
                <div class="col-12 col-md" id="preview-col">
                    <div class="card" id="note-preview-card">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                <div id="note-preview" class="h-100">
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col w-100 px-4 mt-2 hover-overlay preferences-col">
                <input type="text">
                <input type="text">
            </div>

            <div class="fixed-bottom p-3 pe-4 d-md-none ms-auto" style="width: fit-content;">
                <div class="row">
                    <div class="btn btn-info rounded-circle pt-1 px-3 preferences-invoker" 
                        style="font-size: 2em; width: fit-content;" 
                        action="">
                            <i data-feather="more-vertical"></i>
                    </div>
                </div>
                <div class="row mt-2">
                    <button type="submit" 
                        class="btn btn-primary rounded-circle pt-1 px-3" 
                        style="font-size: 2em; width: fit-content;" 
                        th:title="#{save}">
                            <i data-feather="save"></i>
                    </button>
                </div>
                
            </div>
        </form>
    </div>
      
    <div th:replace="fragments/jslibs.html"></div>
    <script th:src="@{js/editor.js}"></script>
</body>

</html>