@import url("fonts.css");

html, body {
    height: 90%;
    margin: 0;
    padding: 0;
    font-family:
        'Jetbrains Mono',
        /* Bootstrap defaults: */
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        "Liberation Sans",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

.root {
    height: 100%;
    overflow-x: clip;
}

/* App icon */

.navbar .app-figure .span1 {
    background-color: rgb(224, 223, 223);
}

.navbar .app-figure .span2 {
    background-color: #0d6efd;
    color: white;
}

/* Note cards */

.card {
    margin-bottom: 20px;
}

.card .md-area {
    max-height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card .md-area h1 .card .md-area h2 .card .md-area h3 .card .md-area h4 .card .md-area h5 .card .md-area h6 {
    font-size: 1em;
    font-weight: bold;
}

/* Editor and preview */

#editor-form-div {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="search"], 
textarea {
    transition: outline .1s !important;
    padding: 10px !important;
    border-radius: 5px !important;
    font: inherit !important;
    width: 100% !important;
}

input[type="text"], 
input[type="search"] {
    padding: 5px !important;
}

#raw-note-area {
    resize: none;
    flex: 2;
}

#preview-toolbar {
    text-align: right;
}

#preview-toolbar button {
    display: inline;
}

.preview-row col {
    max-height: 100%;
}

#note-preview-card {
    max-height: 80vh;
    max-width: 100%;
    /* max-width: 50vw; */
}

#note-preview-card .card-body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.tag-heap {
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
}

.tag-span.h {
    font-size: 1.5em;
    margin-right: 8px;
}

.tag-span a {
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: inherit;
}

.tag-span a:hover {
    color: rgb(104, 104, 219);
}

.tag-span a::before {
    content: "#";
}

.tag-span {
    display: inline-block;
    font-size: 0.9em;
    font-family: inherit;
    border-radius: 3px;
    margin-right: 2px;
    padding: 0;
}

.search-input-container {
    margin-bottom: 10px;
}

#search-input {
    width: 10em;
}

/* Markdown rendering related */

md-block blockquote {
    padding-left: 5px;
}

md-block code,
md-block pre {
    font-family: inherit;
    border-radius: 3px;
}

md-block pre {
    padding: 5px;
}

md-block pre code {
    background-color: transparent;
}

@media (max-width: 768px) {
    .toolbar-btn {
        padding: 0px;
    }

    .toolbar-btn svg,
    .toolbar-btn img {
        transform: scale(0.6);
    }

    #both-preview-btn {
        display: none !important;
    }
}