html, body {
    height: 90%;
    margin: 0;
    padding: 0;
}

.navbar {
   
}

.card {
    margin-bottom: 20px;
    background-color: rgb(252, 242, 231);
}

.card .md-area {
    max-height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card .md-area h1
.card .md-area h2
.card .md-area h3
.card .md-area h4
.card .md-area h5
.card .md-area h6
{
    font-size: 1em;
    font-weight: bold;
}

.root {
    height: 100%;
    overflow-x: clip;
}

#preview-toolbar {
    text-align: right;
}

#preview-toolbar button{
    display: inline;
}

.preview-row col {
    max-height: 100%;
}

#note-preview-card {
    max-height: 80vh;
    max-width: 100vh;
}

#note-preview-card .card-body {
    overflow-y: scroll;
    overflow-x: hidden;
}