.navbar {
   
}

.card {
    margin-bottom: 20px;
    background-color: rgb(252, 242, 231);
}

.card .md-area {
    max-height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card .md-area h1
.card .md-area h2
.card .md-area h3
.card .md-area h4
.card .md-area h5
.card .md-area h6
{
    font-size: 1em;
    font-weight: bold;
}