<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Notepls</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NotePLS</a>
         <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="">All Notes</a></li>
                <li class="nav-item"><a class="nav-link" href="">Categories</a></li>
                <li class="nav-item"><a class="nav-link" href="">Add note</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-auto" th:each="note : ${notes}">
                <div class="card" style="width: 16em">
                    <div class="card-header" th:text="${note.category}" th:if="${note.category} != null">
                        Personal category
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${note.title}">My scriptures</h5>
                        <p class="card-text">
                            <div class="md-area">
                                <md-block hmin="3" th:text="${note.content}"></md-block>
                            </div>
                        </p>
                        <a href="" class="btn btn-primary">See full note</a>
                    </div>
                    <div class="card-footer text-muted" th:text="${#temporals.format(note.date, 'dd-MM-yyyy HH:mm')}" th:if="${note.date} != null">
                        2 days ago
                    </div>
                </div>
            </div>
            <!-- <div class="col-auto ">
                <div class="card" style="width: 16em">
                    <div class="card-header">
                        Personal category
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">My TODO</h5>
                        <p class="card-text">
                        <ul>
                            <li>Do the homework</li>
                            <li>Do the housework</li>
                        </ul>
                        ...
                        </p>
                        <a href="" class="btn btn-primary">See full note</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
            <div class="col-auto ">
                <div class="card" style="width: 16em">
                    <div class="card-header">
                        Personal category
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Depths</h5>
                        <p class="card-text">
                        <ul>
                            <li>1000 USD for Mum</li>
                            <li>2000 EUR for Brother</li>
                        </ul>
                        ...
                        </p>
                        <a href="" class="btn btn-primary">See full note</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card" style="width: 16em">
                    <div class="card-header">
                        Personal category
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Maaan</h5>
                        <p class="card-text">
                        <ul>
                            <li>Woman</li>
                            <li>Man</li>
                        </ul>
                        ...
                        </p>
                        <a href="" class="btn btn-primary">See full note</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div> -->
        </div>

    </div>

    <script type="module" src="md-block/md-block.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>